/* 
  TODO:
  sketch up a super rough outline of what you want your page to look like
  take a picture of it and share it briefly with the audience
  -emphasize that it's always important to have a plan before we start a project
    -never just start coding. It will lead to frustration and cost you time in the end
*/
body {
  text-align: center;
  font-family: sans-serif;
  margin: 0;
  /* bit of a CSS reset, ensuring our pages can take up the width of our page */
}

header {
  background-color: #21ce99;
  color: white;
  padding: 25px;
}

header, section, .portfolio-project {
  margin-bottom: 50px;
}

.section-header {
  padding-bottom: 5px;
  margin-bottom: 40px;
}

#portfolio-section {
  background: #fafafa;
  padding: 50px;
}

.portfolio-project {
  display: inline-block;
  margin: 0 25px 0 25px;
  border: 2px solid black;
  padding: 25px;
}

.portfolio-pic img {
  width: 250px;
  height: auto;
}

.contact-link {
  display: inline-block;
  margin-right: 25px;
}

#email a {
  color: red;
}

#linkedin a {
  color: #0077B5;
  /* linkedin blue - you can always find these hex colors w/ Google :) */
}

#twitter a {
  color: #00aced;
  /* twitter blue */
}